@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,800,800i|Merriweather:400,400i,700,700i');

body {
    margin: 0;
    color: #50413c;
    font-family: 'Merriweather';
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    background-color: #f6f1ed;
    font-size: 16px;
}

a {
    color: #cc3914;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color: #cc3914;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather Sans';
    color: #30231d;
    font-weight: 800;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.5em;
}
.container {
    max-width: 945px;
    margin: auto;
}

header {
    padding: 30px 0;
}

.navigation ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.navigation ul li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}
.navigation ul li a {
    color: #50413c;
    font-family: 'Merriweather';
}
.navigation ul li a:hover {
    color: #cc3914;
}
.navigation, .logo {
    line-height: auto;
    font-family: 'Merriweather Sans';
}
.navigation, .logo a,
.navigation, .logo a:visited {
    color: #cc3914;
}

.navigation {
    float: right;
}

.logo {
    float: left;
    font-size: 1.5em;
}
.clear {
    clear: both;
}
.full-width-banner {
    background-color: #50413c;
    height: 300px;
}


.login-form {
    margin: 90px auto;
    border-bottom: 4px solid #cc3914;
    padding-bottom: 30px;
    padding-top: 30px;
}

.login-form h2 {
    margin-bottom: 35px;
}

.col-form-label {
    font-weight: 700;
}
.btn {
    transition: 0.3s;
}
.btn-default {
    background-color: #cc3914; 
    color: #fff;
}
.btn-default:hover {
    opacity: 0.7;
}